
#header{
    background: #3C486B;
}

#tabla{
    margin-top: 4vw;
    background: rgba( 186, 205, 219, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2vw;
}

#logo{
    height: 28px;
    margin-left: 1vw;
}

.container #ingreso{
    padding: 1vw;
}
